.App {
  text-align: center;
}



body {
  background-image: url('components/images/budz2.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Do Hyeon';
  font-size: 20px;


}

.trip-single {
  text-align: center;
  border: 2px solid white;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.calendarDiv {
  height: 800px;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.nav-wrapper {
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.page-footer {
  margin-top: 25px;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.trip-list {
  text-align: center;
  border: 2px solid white;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}


.edit-form {
  text-align: center;
  border: 2px solid white;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.search-form {
  text-align: center;
  border: 2px solid white;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

button {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

